<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.toletaxifinal">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_action_name"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_action_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".postsolicitud.ViajeTrabajador"
            android:screenOrientation="fullSensor">
        </activity>
        <activity android:name=".postsolicitud.ViajeCliente" />

        <receiver
            android:name=".cloudmesagging.recibidores.AcceptReceiver"
            android:enabled="true" />

        <service android:name=".cloudmesagging.servicio.FirebaseMessagingClient">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".solicitud.BuscarConductor" />
        <activity android:name=".solicitud.Solicitud" />
        <activity
            android:name=".mapa.MapsActivityC"
            android:label="@string/title_activity_maps_c" />
        <activity
            android:name=".mapa.MapsActivityT"
            android:label="@string/title_activity_maps_t" />
        <activity android:name=".registros.RegistroTrabajadores" />
        <activity android:name=".central.CentralTrabajador" />
        <activity android:name=".recuperarcontraseña.RestablecerContra" />
        <activity android:name=".central.CentralUsuario" />
        <activity android:name=".registros.RegistroUsuarios" />
        <activity android:name=".login.LoginUsuario" />
        <activity android:name=".login.LoginTrabajador" />
        <activity android:name=".MainActivity" />
        <activity android:name=".splash.Splash"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>